<%- include('../../partials/head.ejs') %>

    <div class="container my-container">
        <div class="jumbotron">
            <h1>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magni, et.</h1>
            <p class="lead"> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dignissimos iusto facere assumenda vel natus atque libero dolore, magnam distinctio aliquam dolor, nobis fuga aperiam, saepe alias. Sequi neque consectetur blanditiis?</p>
        </div>
    </div>

<%- include('../../partials/footer.ejs') %>

</body>
</html>