<footer>
  <p class="lead">
    Copyright &copy; 2021, from stack learner. By Mezbah Zishan.
  </p>
</footer>
<script src="/bootstarp/bootstrap.bundle.js"></script>

<!-- this is extra for jquery, not a part of bootstrap 5 -->
<script src="/bootstarp/jquery.js"></script>